<footer class="ct-footer">
    <div class="container">
      <ul class="ct-footer-list text-center-sm">
        <li>
          <h2 class="ct-footer-list-header">Organization</h2>
          <ul>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Journey</a>
            </li>
            <li>
              <a href="#">Chapters</a>
            </li>
            <li>
                <a href="#">Team</a>
              </li>
              <li>
                <a href="#">Insights</a>
              </li>
              <li>
                <a href="#">Collaboration</a>
              </li>
              <li>
                <a href="#">Testimonials</a>
              </li>
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">Events</h2>
          <ul>
            <li>
              <a href="#">Upcoming Events</a>
            </li>
            <li>
                <a href="#">Projects</a>
              </li>
              <li>
                <a href="#">Campaigns</a>
              </li>
            
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">Gallery</h2>
          <ul>
            <li>
              <a href="#">Photos</a>
            </li>
            <li>
              <a href="#">Videos</a>
            </li>
            
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">Contact</h2>
          <ul>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Subscribe</a>
            </li>
            <li>
              <a href="#">Become a Volunteer</a>
            </li>
            <li>
              <a href="#">Newsletters</a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">Donations</h2>
          <ul>
            <li>
              <a href="">Donate Now</a>
            </li>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          <div id="google_translate_element" style="margin-top: 50%;">
          </div>
          <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'bn,de,en,es,fr,gu,hi,it,kn,ml,mr,ta,te,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
          </script>
            
          </ul>
        </li>
        <div class="row">
          
        </div>
      </ul>
      
      <div class="ct-footer-meta text-center-sm">
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <img alt="logo" src="#" class="logo">
          </div>
          <div class="col-sm-6 col-md-3">
            <address>
              <span>Inferploy<br></span>Lorem ipsum, Lorem ipsum<br>Lorem ipsum , Jaipur<br>
              Rajasthan, INDIA, 32000<br>
              <span>Phone: <a href="tel:+91999990000">(+91) 99999 90000</a></span>
            </address>
          </div>
          
          <div class="col-sm-6 col-md-7">
            <ul class="ct-socials list-unstyled">
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-facebook fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-twitter fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-linkedin fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;"> 
                <a href="" target="_blank"><i class="fab fa-instagram fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="color: whitesmoke;">
  
              <p>
    Copyright ©<script>2020;</script> All rights reserved</p>
      <p>
                Developed By <a href="#"><u>Inferploy Team</u></a></p>
            </div>
          </div>


      </div>
    </div>
    
  </footer>
  <script src="/js/footer.js"></script>