<div class="container" style="padding-top:2vw ;">
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-6	col-lg-6 col-xl-6 quality">
      <h2>Why Internship ?</h2>
      <img src="./Images/1.svg">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, finibus eu sem nec, facilisis vehicula
        tellus.
        Cras sed eleifend nisl.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, finibus eu sem
        nec, facilisis vehicula tellus.

      </p>
    </div>
    <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 quality">
      <h2>Why Startups ?</h2>
      <img src="./Images/2.svg">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, finibus eu sem nec, facilisis vehicula
        tellus.
        Cras sed eleifend nisl.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, finibus eu sem
        nec, facilisis vehicula tellus.

      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 quality">
      <h2>Why Inferploy?</h2>
      <img src="./Images/3.svg">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, finibus eu sem nec, facilisis vehicula
        tellus.
        Cras sed eleifend nisl.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, finibus eu sem
        nec, facilisis vehicula tellus.

      </p>
    </div>
  </div>
</div>