<section id="StartupCards">
    <div class="grid">
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <button class="card__btn">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <button class="card__btn">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <button class="card__btn">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <button class="card__btn">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <button class="card__btn">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <button class="card__btn">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
    </div>

</section>